{% extends 'parts/base.html' %}
{% block body %}
<div class="bradcam_area bradcam_bg_1">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="bradcam_text">
					<h3>Index Page</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="job_details_area">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="apply_job_form white-bg">
					<h4 style="margin-left: auto; margin-right:auto; width:fit-content">Welcom To Job Board App</h4>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
